.navigation{
    position: absolute;
    width:224px;
    padding-top:53px;
    font-size: 22px;
    line-height: 30px; 
    font-weight: 300;
    align-items: center;
    left: -225px;
	transition: all 0.2s ease;
}


.active{
    left: 0px;
}

.navigation h2{
    font-size: 22px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top:29px;
    padding-left:16px;
    font-weight: 400;
    
}

.name-role{
    height:47px;
    background: #F9EFE5;;
    color: #F57C00;
    font-size: 22px;
    line-height: 30px;

    align-items: center;
    display:flex;
    justify-content: center;
}

.name-role-value{
    height:170px;
    text-align: center;
    padding-top:30px;
}

.roles ul{
    list-style:none;
    margin:0;
    padding:0;
    text-align: center;
    padding-bottom:100px;

}

.roles li p{
    text-align: center;
    margin-bottom:3px;
}