.forms{
    width:391px;
    margin: 0 auto;
    margin-top:53px;
}

.forms h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 18px;
    margin-top:0;
    align-items: center;
    text-align: center;
    margin-bottom:30px;
}

.forms p{
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    
}


.forms .command{
    align-items: center;
    margin-bottom:19px;
    font-weight: 600;
}
.command span{
    font-weight: 400;
}

.forms .numbers{
    align-items: center;
    text-align: center;
    margin-bottom: 36px;

}

.mark-form p{
    font-size: 20px;
    line-height: 18px;
}

.choosing{
    font-size: 20px;
    line-height: 18px;

    margin-bottom:18px;
    display: block;
    text-align: center;
}

.form-selector{
    width: 350px;
    height: 35px;
    background: rgba(240, 240, 240, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    border:none;

    font-size: 16px;
    line-height: 18px;
    color: #000000;
    align-items: center;
    text-align: center;

    display:block;
    margin:0 auto;
    margin-bottom:18px;
    

}
.criteria-group{
    display:flex;
}

.criteria{
    font-size: 16px;
    line-height: 18px;
    margin-bottom:5px;
    align-items: center;
}

/*.criteria:first-child{
    margin-top:25px;
}

.criteria span{
    margin-right:auto;
}*/

.numbers{
    margin-left:auto;
}
.criteria span{
    margin-left:18px;
}


.radio-bitton{
    background: #FFFFFF;
    border: 2px solid #F57C00;
}

.give-a-mark{
    width: 160px;
    height: 40px;

    background: #F57C00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    border:none;

    color: #FFFFFF;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    display:block;
    margin:0 auto;
    margin-top:40px;
}

.question:hover{
    fill:#F57C00;
    cursor: pointer;
}