
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1580px;
    height: 100%;
    gap: 20px;
}

.kanban{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}
